.App {
  text-align: left;
  font-size: 30px;
  font-family:monospace;
  font-weight: bold;
  margin-left:30px;
  margin-top:10px;
  background-color: antiquewhite;
  margin-right:30px;
}

.App-canvas {
  margin-top:30px;
  position: absolute;
  left: 30px;
  top: 50px;
}

.choose_config{
  margin-top:30px;
  position: absolute;
  left: 500px;
  top: 120px;
  font-size: 15px;
  font-family:monospace;
}

.fourconfig{
  background-color:antiquewhite;
  border-color: black;
  border-radius: 5px;
  margin-top:30px;
  position: absolute;
  left: 500px;
  top: 150px;
  font-size: 15px;
  font-family:monospace;
}

.fourconfig:hover{
  background-color:lightgray;
}

.fiveconfig{
  background-color:antiquewhite;
  border-color: black;
  border-radius: 5px;
  margin-top:30px;
  position: absolute;
  left: 575px;
  top: 150px;
  font-size: 15px;
  font-family:monospace;
}


.fiveconfig:hover{
  background-color:lightgray;
}

.sixconfig{
  background-color:antiquewhite;
  border-color: black;
  border-radius: 5px;
  margin-top:30px;
  position: absolute;
  left: 650px;
  top: 150px;
  font-size: 15px;
  font-family:monospace;
}

.sixconfig:hover{
  background-color:lightgray;
}

.turn_buttons{
  margin-top:120px;
  position: absolute;
  left: 500px;
  top: 120px;
  font-size: 15px;
  font-family:monospace;
}

.App-link {
  color: #61dafb;
}

.reset_button {
  margin-top:30px;
  background-color:antiquewhite;
  border-color: black;
  border-radius: 5px;
  position: absolute;
  left: 500px;
  top: 50px;
}

.reset_button:hover{
  background-color:lightgray;
}

.clockwise_button {
  margin-top:120px;
  background-color:antiquewhite;
  border-color: black;
  border-radius: 5px;
  position: absolute;
  left: 500px;
  top: 150px;
}

.clockwise_button:hover{
  background-color:lightgray;
}

.counter_clockwise_button:hover{
  background-color:lightgray;
}

.counter_clockwise_button {
  margin-top:120px;
  background-color:antiquewhite;
  border-color: black;
  border-radius: 5px;
  position: absolute;
  left: 600px;
  top: 150px;
}

.moves{
  margin-top:32px;
  border-color: black;
  border-radius: 5px;
  position: absolute;
  font-size:15px;
  left: 650px;
  top: 50px;
}